.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  overflow: auto;
}
.App-link {
  color: #61dafb;
}
.cat_FOOTBALL{
  color: red;
}
.cat_HANDBALL{
  color: bisque;
}
.cat_SNOOKER{
  color: cadetblue;
}
.cat_TENNIS{
  color:beige
}
.cat_ICE_HOCKEY{
  color: #61dafb;
}
.state_STARTED{
  color: darkkhaki !important;
  font-weight: bold;
}
.state_FINISHED{
  color: green !important;
  font-weight: bold;
}
.state_NOT_STARTED{
  color: red !important;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

